.carousel{
    min-width: 319px;
}

/*   BOTTON */

/*** ESTILOS BOTÓN SLIDE TOP ***/
.ov-btn-slide-top {
    background: #fff; /* color de fondo */
    color: black; /* color de fuente */
    border: 3px solid black; /* tamaño y color de borde */
    padding: 16px 20px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font: bold;
    text-decoration: none;
    background-color: #388595;
  }
  .ov-btn-slide-top:hover {
    color: #fff; /* color de fuente hover */
  }
  .ov-btn-slide-top::after {
    content: "";
    background: black; /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: 0;
    right: 0;
    top: -100%;
    bottom: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .ov-btn-slide-top:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }